*{
    margin: 0;
    padding: 0;
}


footer{
    background-color: rgb(232, 239, 95);
    margin: 10px;
    padding: 10px;
}

#footer1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace ;
}

