body {
    margin: 0;
    padding: 0;
}


#footer1 {
    background-color: rgb(231, 236, 137);
    display: flex;
    flex-direction: column;
    font-family: monospace;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}

#img2{
display: flex;
justify-content: center;
text-align: center;
}

