<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layout/header.css">
    <link rel="icon" href="../assets/image/logo pizza2.png">
    <title>Header</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="logo1">
                <img src="../assets/image/logo pizza2.png" alt="logo da pizzaria">
            </div>
            <div class="conteiner">
                <a href="#"><li>Menu</li></a>
                <a href="#"><li>Sobre Nós</li></a>
                <a href="#"><li>Contato</li></a>
            </div>
        </div>
    </header>
</body>

</html>