<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layout/header.css">
    <link rel="icon" href="../assets/image/logo pizza.jpg">
    <title>Alpha Pizza</title>
</head>

<body>
    <header>
        <div class="header1">
            <div id="logo"><img src="../assets/image/logo pizza.jpg" width="64px" ; height="64px" ;
                    alt="imagem da logo da nossa pizzaria"></div>
            <nav>
                <ul>
                    <li><a href="">Menu</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Contatos</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>