body{
    margin: 0;
    padding: 0;
    background-color: rgb(215, 234, 147);
}
h1{
    font-family: Georgia;
    text-align: center;
    font-size: 30px;
}
h2{
    font-family: Georgia;
    text-align: center;
    font-size: 20px;
}
#sobre{
    border: 5px;
    background-color: orange;
    height: 200px;
}

#section2 {
 background-color: rgb(255, 255, 171);
 justify-content: space-around;
 align-items: center;
 margin: 100px;
 padding: 10px;;
 box-shadow: 0 0 10px;
 border: ;
}